In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
import seaborn as sns
%matplotlib inline

In [2]:
Path.cwd()

PosixPath('/Users/AndrewSM/Education/George Washington University/Projects/project-1/python/source')

In [16]:
# Set file paths

file_path_united = Path('../../live_tweet_data/united_airlines.csv')
file_path_united_stock = Path('../../live_tweet_data/ual.csv')
file_path_delta = Path('../../live_tweet_data/delta_airlines.csv')
file_path_delta_stock = Path('../../live_tweet_data/dal.csv')
file_path_american = Path('../../live_tweet_data/american_airlines.csv')
file_path_american_stock = Path('../../live_tweet_data/aal.csv')
file_path_alaska = Path('../../live_tweet_data/alaska_airlines.csv')
file_path_alaska_stock = Path('../../live_tweet_data/alk.csv')
file_path_southwest = Path('../../live_tweet_data/southwest_airlines.csv')
file_path_southwest_stock = Path('../../live_tweet_data/luv.csv')
file_path_jetblue = Path('../../live_tweet_data/jetblue.csv')
file_path_jetblue_stock = Path('../../live_tweet_data/jblu.csv')

df = pd.read_csv(file_path_jetblue_stock)
df.head()

,0,2020-08-12 11:39:16,Unnamed: 2,Unnamed: 3,1293512371802177537,"RT @Samroth61562816: $GOLD “Textbook” Bounce, Daily $f $ge $aapl $msft $aal $dis $dal $tsla $ccl $plug $nclh $snap $fit $ba $mrna $ual $am…"
0,1,2020-08-12 11:38:20,NaN,NaN,1293512137864880129,"$GOLD “Textbook” Bounce, Daily\n\n$f $ge $aapl..."
1,2,2020-08-12 11:34:59,NaN,NaN,1293511295241801731,RT @Samroth61562816: $GOLD... “TEXTBOOK” BOUNC...
2,3,2020-08-12 11:34:43,NaN,NaN,1293511229290491904,"RT @Samroth61562816: GUY ADAMI, CNBC\n\n$GOLD ..."
3,4,2020-08-12 11:34:38,NaN,NaN,1293511207853404160,"RT @Samroth61562816: $GDX:\n\n""NEWMONT WORRIED..."
4,5,2020-08-12 11:34:33,NaN,NaN,1293511186399535104,RT @Samroth61562816: Mr Wonderful: $GLD CNBC\n...