In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
import seaborn as sns
%matplotlib inline

In [2]:
Path.cwd()

PosixPath('/Users/AndrewSM/Education/George Washington University/Projects/project-1/python/source')

In [16]:
# Set file paths

file_path_united = Path('../../live_tweet_data/united_airlines.csv')
file_path_united_stock = Path('../../live_tweet_data/ual.csv')
file_path_delta = Path('../../live_tweet_data/delta_airlines.csv')
file_path_delta_stock = Path('../../live_tweet_data/dal.csv')
file_path_american = Path('../../live_tweet_data/american_airlines.csv')
file_path_american_stock = Path('../../live_tweet_data/aal.csv')
file_path_alaska = Path('../../live_tweet_data/alaska_airlines.csv')
file_path_alaska_stock = Path('../../live_tweet_data/alk.csv')
file_path_southwest = Path('../../live_tweet_data/southwest_airlines.csv')
file_path_southwest_stock = Path('../../live_tweet_data/luv.csv')
file_path_jetblue = Path('../../live_tweet_data/jetblue.csv')
file_path_jetblue_stock = Path('../../live_tweet_data/jblu.csv')

df = pd.read_csv(file_path_jetblue_stock)
df.head()

,0,2020-08-12 11:39:16,Unnamed: 2,Unnamed: 3,1293512371802177537,"RT @Samroth61562816: $GOLD “Textbook” Bounce, Daily $f $ge $aapl $msft $aal $dis $dal $tsla $ccl $plug $nclh $snap $fit $ba $mrna $ual $am…"
0,1,2020-08-12 11:38:20,NaN,NaN,1293512137864880129,"$GOLD “Textbook” Bounce, Daily\n\n$f $ge $aapl..."
1,2,2020-08-12 11:34:59,NaN,NaN,1293511295241801731,RT @Samroth61562816: $GOLD... “TEXTBOOK” BOUNC...
2,3,2020-08-12 11:34:43,NaN,NaN,1293511229290491904,"RT @Samroth61562816: GUY ADAMI, CNBC\n\n$GOLD ..."
3,4,2020-08-12 11:34:38,NaN,NaN,1293511207853404160,"RT @Samroth61562816: $GDX:\n\n""NEWMONT WORRIED..."
4,5,2020-08-12 11:34:33,NaN,NaN,1293511186399535104,RT @Samroth61562816: Mr Wonderful: $GLD CNBC\n...

In [22]:
# Create DataFrames
united_airlines = pd.read_csv(file_path_united, parse_dates=True, infer_datetime_format=True)
united_airlines_stock = pd.read_csv(file_path_united_stock, parse_dates=True, infer_datetime_format=True)
delta_airlines = pd.read_csv(file_path_delta, parse_dates=True, infer_datetime_format=True)
delta_airlines_stock = pd.read_csv(file_path_delta_stock, parse_dates=True, infer_datetime_format=True)
american_airlines = pd.read_csv(file_path_american, parse_dates=True, infer_datetime_format=True)
american_airlines_stock = pd.read_csv(file_path_american_stock, parse_dates=True, infer_datetime_format=True)
alaska_airlines = pd.read_csv(file_path_alaska, parse_dates=True, infer_datetime_format=True)
alaska_airlines_stock = pd.read_csv(file_path_alaska_stock, parse_dates=True, infer_datetime_format=True)
southwest_airlines = pd.read_csv(file_path_southwest, parse_dates=True, infer_datetime_format=True)
southwest_airlines_stock = pd.read_csv(file_path_southwest_stock, parse_dates=True, infer_datetime_format=True)
jetblue = pd.read_csv(file_path_jetblue, parse_dates=True, infer_datetime_format=True)
jetblue_stock = pd.read_csv(file_path_jetblue_stock, parse_dates=True, infer_datetime_format=True)

In [32]:
# Add headers to files
dataframes = [united_airlines, 
              united_airlines_stock,
              delta_airlines,
              delta_airlines_stock,
              american_airlines,
              american_airlines_stock,
              alaska_airlines,
              alaska_airlines_stock,
              southwest_airlines,
              southwest_airlines_stock,
              jetblue,
              jetblue_stock]

# Created fuction to add all headers
def add_headers():
    for df in dataframes:
        df.columns = ["Number", "Date", "Location", "Location Coordinates", "TweetID", "Text"]

In [33]:
# Set indexes to date column

,Number,Date,Location,Location Coordinates,TweetID,Text
0,1,2020-08-12 10:44:38,VA,NaN,1293498625272811520,RT @celtics: .@fchwpo finds @rob_williamsIII f...
1,2,2020-08-12 10:29:08,"Ghaziabad, U.P (India)",NaN,1293494721365458950,Things To Do JetBlue Airlines Reservations Hel...
2,3,2020-08-12 10:13:54,NaN,NaN,1293490887272603648,@JetBlue Best crew and service you can ask fo...
3,4,2020-08-12 09:59:18,NaN,NaN,1293487216640098306,"Since this happened in 2018, I’m wondering wha..."
4,5,2020-08-12 09:53:09,United States,NaN,1293485665703931905,"Scott M. Laurence Sells 8,409 Shares of JetBlu..."