In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
import seaborn as sns
%matplotlib inline
from textblob import TextBlob

In [2]:
Path.cwd()

WindowsPath('C:/Users/paulk/project-1/python/source')

In [60]:
#Read in CSV files

file_path_united = Path('../../live_tweet_data/united_airlines.csv')
file_path_united_stock = Path('../../live_tweet_data/ual.csv')
file_path_delta = Path('../../live_tweet_data/delta_airlines.csv')
file_path_delta_stock = Path('../../live_tweet_data/dal.csv')
file_path_american = Path('../../live_tweet_data/american_airlines.csv')
file_path_american_stock = Path('../../live_tweet_data/aal.csv')
file_path_alaska = Path('../../live_tweet_data/alaska_airlines.csv')
file_path_alaska_stock = Path('../../live_tweet_data/alk.csv')
file_path_southwest = Path('../../live_tweet_data/southwest_airlines.csv')
file_path_southwest_stock = Path('../../live_tweet_data/luv.csv')
file_path_jetblue = Path('../../live_tweet_data/jetblue.csv')
file_path_jetblue_stock = Path('../../live_tweet_data/jblu.csv')

In [61]:
#Create DataFrames

united_airlines = pd.read_csv(file_path_united)
united_airlines_stock = pd.read_csv(file_path_united_stock)
delta_airlines = pd.read_csv(file_path_delta)
delta_airlines_stock = pd.read_csv(file_path_delta_stock)
american_airlines = pd.read_csv(file_path_american)
american_airlines_stock = pd.read_csv(file_path_american_stock)
alaska_airlines = pd.read_csv(file_path_alaska)
alaska_airlines_stock = pd.read_csv(file_path_alaska_stock)
southwest_airlines = pd.read_csv(file_path_southwest)
southwest_airlines_stock = pd.read_csv(file_path_southwest_stock)
jetblue = pd.read_csv(file_path_jetblue)
jetblue_stock = pd.read_csv(file_path_jetblue_stock)

In [62]:
# Set columns
united_airlines.columns = ["Number", "Date", "Location", "Location Coordinates", "TweetID", "Text"]
united_airlines_stock.columns = ["Number", "Date", "Location", "Location Coordinates", "TweetID", "Text"]
delta_airlines.columns = ["Number", "Date", "Location", "Location Coordinates", "TweetID", "Text"]
delta_airlines_stock.columns = ["Number", "Date", "Location", "Location Coordinates", "TweetID", "Text"]
american_airlines.columns = ["Number", "Date", "Location", "Location Coordinates", "TweetID", "Text"]
american_airlines_stock.columns = ["Number", "Date", "Location", "Location Coordinates", "TweetID", "Text"]
alaska_airlines.columns = ["Number", "Date", "Location", "Location Coordinates", "TweetID", "Text"]
alaska_airlines_stock.columns = ["Number", "Date", "Location", "Location Coordinates", "TweetID", "Text"]
southwest_airlines.columns = ["Number", "Date", "Location", "Location Coordinates", "TweetID", "Text"]
southwest_airlines_stock.columns = ["Number", "Date", "Location", "Location Coordinates", "TweetID", "Text"]
jetblue.columns = ["Number", "Date", "Location", "Location Coordinates", "TweetID", "Text"]
jetblue_stock.columns = ["Number", "Date", "Location", "Location Coordinates", "TweetID", "Text"]

In [63]:
# Add 'Airline' column

united_airlines['Airline'] = 'United Airlines'
united_airlines_stock['Airline'] = 'United Airlines'
delta_airlines['Airline'] = 'Delta Airlines'
delta_airlines_stock['Airline'] = 'Delta Airlines'
american_airlines['Airline'] = 'American Airlines'
american_airlines_stock['Airline'] = 'American Airlines'
alaska_airlines['Airline'] = 'Alaska Airlines'
alaska_airlines_stock['Airline'] = 'Alaska Airlines'
southwest_airlines['Airline'] = 'Southwest Airlines'
southwest_airlines_stock['Airline'] = 'Southwest Airlines'
jetblue['Airline'] = 'JetBlue'
jetblue_stock['Airline'] = 'JetBlue'

In [64]:
#Concatenate DataFrames

airline_tweets = pd.concat([united_airlines, 
                            united_airlines_stock,
                            delta_airlines,
                            delta_airlines_stock,
                            american_airlines,
                            american_airlines_stock,
                            alaska_airlines,
                            alaska_airlines_stock,
                            southwest_airlines,
                            southwest_airlines_stock,
                            jetblue,
                            jetblue_stock],
                            join='inner')

In [65]:
airline_tweets.head()

,Number,Date,Location,Location Coordinates,TweetID,Text,Airline
0,1,2020-08-12 11:26:04,NaN,NaN,1.293509e+18,RT @TradeOnTheWire1: - UNITED AIRLINES HOLDING...,United Airlines
1,2,2020-08-12 11:21:53,NaN,NaN,1.293508e+18,Cathay Rises Most Since 2008 as Reopening Chan...,United Airlines
2,3,2020-08-12 11:11:19,"Current City-Sugar Land, Texas",NaN,1.293505e+18,RT @FOX26Houston: Airlines have been hit with ...,United Airlines
3,4,2020-08-12 11:00:25,"Grapevine, TX",NaN,1.293503e+18,"United American Airlines? The 'Lesson', should...",United Airlines
4,5,2020-08-12 10:58:04,NaN,NaN,1.293502e+18,-✈ Small Aircraft Collections - United Airline...,United Airlines

In [66]:
#Date Column to Datetime, Set Index, Sort Index
airline_tweets['Date'] = pd.to_datetime(airline_tweets['Date'])
airline_tweets.index = airline_tweets['Date']
airline_tweets = airline_tweets.drop(columns='Date')
airline_tweets.sort_index(inplace=True)

In [72]:
#Conversion of tweets to srings

airline_tweets['Text'] = airline_tweets['Text'].astype(str)

airline_tweets[['polarity', 'subjectivity']] = airline_tweets['Text'].apply(lambda Text: pd.Series(TextBlob(Text).sentiment))

In [74]:
airline_tweets.head()

,Number,Location,Location Coordinates,TweetID,Text,Airline,polarity,subjectivity
Date,,,,,,,,
2020-08-11 19:18:26,99,"Whitney, Texas USA",NaN,1.293266e+18,"RT @RossanaWyatt: Good idea, and good to know ...",Alaska Airlines,0.175000,0.533333
2020-08-11 19:23:38,98,"Los Angeles, CA",NaN,1.293267e+18,"Alaska Airlines flight #ASA278 spotted at 2,02...",Alaska Airlines,0.000000,0.000000
2020-08-11 19:24:10,97,"Los Angeles, CA",NaN,1.293267e+18,"Alaska Airlines flight #ASA658 spotted at 2,72...",Alaska Airlines,0.000000,0.000000
2020-08-11 19:28:08,96,NaN,NaN,1.293268e+18,Alaska airlines has BOGO free plane tickets ri...,Alaska Airlines,0.495238,0.745238
2020-08-11 19:28:47,95,"Santa Barbara, CA",NaN,1.293268e+18,"RT @glaciermt: Beginning in March 2021, Alaska...",Alaska Airlines,0.000000,0.000000